{% extends 'pdb_app/base.html' %}
{% block title %}{{item.name}}{% endblock title %}
{% block pagetitle %}{{item.name}}{% endblock pagetitle %}
{% block description %}{{item.description}}{% endblock description %}

{% block content %}

<ul class="collapsible">
    {% for category in categories %}
    <li>
        <div class="collapsible-header">
            <i class="material-icons">filter_drama</i>
            {{category.name}}
            <span class="badge">{{ category.item_set.all.count }}</span></div>
        <div class="collapsible-body">
            {% for i in category.item_set.all %}
            <a href="{% url 'detail' i.id %}">{{i.name}}</a>&nbsp;
            {% endfor %}
        </div>
    </li>
    {% endfor %}
</ul>

<!--{% for category in categories %}-->
    <!--<div class="card-panel">-->
        <!--<p class="blue-text text-darken-2">{{category.name}}</p><br>-->
        <!--{% for i in category.item_set.all %}-->
        <!--<a href="{% url 'detail' i.id %}">{{i.name}}</a>&nbsp;-->
        <!--{% endfor %}-->
  <!--</div>-->
<!--{% endfor %}-->


{% endblock content %}

{% block footer_script %}
<script>
    jQuery(document).ready(function($){
        $('.collapsible').collapsible();
    })
</script>
{% endblock footer_script %}
